.btn {
  /* display: inline-block; */
  padding: .4em .8em;
  background-color: #000;
  color: #fff;
  /* line-height: 1.8em; 1(폰트크기)+상단패딩0.4+하단패딩0.4 */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: background-color .5s;

}

.btn:hover {}

.btn-ok {
  background-color: #434343;
}

.btn-ok:hover {
  background-color: burlywood;
}

.btn-toggle {
  --radius:25px;
  background-color: gray;
  color: #434343;
  border: none;

  box-sizing: border-box;
  width: 60px;
  height: var(--radius);
  border-radius: calc(var(--radius)/2) ;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  text-indent: -999px;
  overflow: hidden;

  position: relative;
  transition: all .5s; 
  
}

.btn-toggle::before {
  /* --thumb-radius :calc(var(--radius) - 5px);  */
  /* --thumb-radius :calc(var(--radius) -5px); 연산자 붙여쓰면 안됨 주의!!!!! */

  content: '';
  height: calc(var(--radius) - 5px);
  width: calc(var(--radius) - 5px); 
  box-sizing: border-box;
  background-color: black;
  border-radius: calc((var(--radius) - 5px) / 2);
  text-indent: -999px;

  position: absolute;
  left: 3px;
  transition: all .5s;
}

.btn-toggle:hover,
.btn-toggle-on{
  background-color: rosybrown;
  border-radius: calc(var(--radius)/2);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}

.btn-toggle-on::before {

  background-color: cornsilk;
  left: 37px;
  /* right: 3px; */

}

.btn-toggle::before {
  /* --thumb-radius :calc(var(--radius) - 5px);  */
  /* --thumb-radius :calc(var(--radius) -5px); 연산자 붙여쓰면 안됨 주의!!!!! */

  
  /* height: calc(var(--radius) - 5px);
  width: calc(var(--radius) - 5px); 
  box-sizing: border-box;
  background-color: black;
  border-radius: calc((var(--radius) - 5px) / 2);
  text-indent: -999px;

  position: absolute;
  left: 3px; */
}

.btn-cancel {}

.btn-strong {}



/* ------------------------- */

@media (min-width: 700px){
  .btn-toggle-md{
    --radius:30px;
  }
}
